*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/p1/.metadata/*
P1/practica1/target/practica1-0.0.1-SNAPSHOT.jar
P1/practica1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
